<link rel="stylesheet" href="~/css/safetyPage.css" asp-append-version="true"/> 
<link rel="stylesheet" href="~/css/settingsPage.css" asp-append-version="true"/> 
<link rel="stylesheet" href="~/css/profileComponent.css" asp-append-version="true" />

<div class = "contentBlock">
    <div>
        <div>
            <span class = "content-header">Двухфакторная аутентификация</span>
            <p class = "content-text">
                Двухфакторная аутентификация (2FA) – это способ верификации пользователя, 
                обеспечивающий дополнительный уровень безопасности аккаунтов с целью их защиты от взлома.
            </p>
            <button class = "safety-button"><span class = "safety-button-text">Подключить</span></button>
        </div>
        <div>
            <div>
                <span class = "content-header">Сменить пароль</span>
            </div>
            <span class = "attribute-header" style="margin-left:10%;">Текущий пароль</span>
            <input class = "attribute" style="margin-left:10%; margin-bottom: 25px;"></input>
            <span class = "attribute-header" style="margin-left:10%; margin-bottom: 35px;">Новый пароль</span>
            <input class = "attribute" style="margin-left:10%; margin-bottom: 25px;"></input>
            <span class = "attribute-header" style="margin-left:10%; margin-bottom: 35px;">Новый пароль еще раз</span>
            <input class = "attribute" style="margin-left:10%; margin-bottom: 25px;"></input>
            <button class = "safety-button"><span class = "safety-button-text">Сменить</span></button>
        </div>
        <div>
            <div>
                <div>
                    <span class = "content-header">Сменить почту</span>
                </div>
                <span class = "attribute-header" style="margin-left:10%;">Текущая почта</span>
                <input class = "attribute" style="margin-left:10%; margin-bottom: 25px;"></input>
                <span class = "attribute-header" style="margin-left:10%; margin-bottom: 35px;">Новая почта</span>
                <input class = "attribute" style="margin-left:10%; margin-bottom: 25px;"></input>
                <button class = "safety-button"><span class = "safety-button-text">Сменить</span></button>
            </div>
        </div>
    </div>
</div>