<link rel="stylesheet" href="~/css/mainPage.css" asp-append-version="true" /> 

@model IGS.Domain.Entity.User
@{
    Layout = "_Layout";
    ViewData["Title"] = "Главная";
}
<head>
  <meta charset="utf-8">
  <title>Полосы прокрутки</title>
  <style>
   html { overflow-x: hidden; }
  </style>
  </head>
  
	<div>
			<p class = "center_text_head" > Рекомендовавнное  </p>
			<figure>
				<p><a asp-controller="Account" asp-action="Login"><img class= scenter_image src="~/img/igra1.png"></a>
				<figcaption class = "center_text" > Gauntlet of Power - Teaser Demo <span class="center_text_cost"> 500р. </figcaption>
			</figure>
			<figure>
				<p><a asp-controller="Account" asp-action="Login"><img class= scenter_image src="~/img/igra2.png"></a>
				<figcaption class = "center_text">Cursorblade (Demo) <span class="center_text_cost">   FREE </figcaption>
			</figure>
			<figure>
				<p><a asp-controller="Account" asp-action="Login"><img class= scenter_image src="~/img/igra3.png"></a>
				<figcaption class = "center_text"> Project Homecoming Haven <span class="center_text_cost">   600р. </figcaption>
			</figure>
			<figure>
				<p><a asp-controller="Account" asp-action="Login"><img class= scenter_image src="~/img/igra5.png"></a>
				<figcaption class = "center_text">Death of a Wish <span class="center_text_cost">   200р.</figcaption>
			</figure>
			
			<p class = "center_text_head" > Популярное  </p>
			<figure>
				<p><a asp-controller="Account" asp-action="Login"><img class= scenter_image src="~/img/igra6.png"></a>
				<figcaption class = "center_text" > Tristram <span class="center_text_cost"> 500р. </figcaption>
			</figure>
			<figure>
				<p><a asp-controller="Account" asp-action="Login"><img class= scenter_image src="~/img/igra7.png"></a>
				<figcaption class = "center_text">Detective Face <span class="center_text_cost">   FREE </figcaption>
			</figure>
			<figure>
				<p><a asp-controller="Account" asp-action="Login"><img class= scenter_image src="~/img/igra8.png"></a>
				<figcaption class = "center_text"> Peryne <span class="center_text_cost">   600р. </figcaption>
			</figure>
			<figure>
				<p><a asp-controller="Account" asp-action="Login"><img class= scenter_image src="~/img/igra9.png"></a>
				<figcaption class = "center_text">Sokobond Express <span class="center_text_cost">   200р.</figcaption>
			</figure>
			
			<p class = "center_text_head" > Новинки  </p>
			<figure>
				<p><a asp-controller="Account" asp-action="Login"><img class= scenter_image src="~/img/igra10.png"></a>
				<figcaption class = "center_text" >Beecarbonize <span class="center_text_cost"> 500р. </figcaption>
			</figure>
			<figure>
				<p><a asp-controller="Account" asp-action="Login"><img class= scenter_image src="~/img/igra11.png"></a>
				<figcaption class = "center_text">24 Killers <span class="center_text_cost">   FREE </figcaption>
			</figure>
			<figure>
				<p><a asp-controller="Account" asp-action="Login"><img class= scenter_image src="~/img/igra12.png"></a>
				<figcaption class = "center_text"> Kingsvein <span class="center_text_cost">   600р. </figcaption>
			</figure>
			<figure>
				<p><a asp-controller="Account" asp-action="Login"><img class= scenter_image src="~/img/igra13.png"></a>
				<figcaption class = "center_text">Maerl <span class="center_text_cost">   200р.</figcaption>
			</figure>
		</div>