<link rel="stylesheet" href="~/css/mainPage.css" asp-append-version="true" /> 

@model IGS.Domain.Entity.User
@{
    Layout = "_Layout";
    ViewData["Title"] = "Главная";
}
<head>
  <meta charset="utf-8">
  <title>Полосы прокрутки</title>
  <style>
   html { overflow-x: hidden; }
  </style>
</head>

<div class = "content">
    <div class="menu">
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu_head" > Категории</p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > Хорор </p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > Многопользовательские <br /></p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > Симулятор <br /></p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > Аркады <br /></p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > Гонки <br /></p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > Ролевые <br /></p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > Приключения <br /></p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > Спортивные игры <br /></p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > Стратегии <br /></p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu_head" > Игры по цене <br /></p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > Бесплатные игры <br /></p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > Меньше 500р. <br /></p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > Больше 500р. <br /></p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > Лучшеие продавцы <br /></p></a>
        <a asp-controller="Account" asp-action="Login"><p class = "text_menu" > С демо-версией <br /></p></a>
    </div>
    <div class = "games">
        <div class = "reklama">
            <div class="image_reklama">
                <img src="~/img/igra6.png" alt="Image 1">
            </div>
             <div class="image_reklama2">
                <img src="~/img/rek1.jpg" alt="Image 1">
            </div>
             <div class="image_reklama2">
                <img src="~/img/rek2.jpg" alt="Image 1">
            </div>
             <div class="image_reklama2">
                <img src="~/img/rek3.jpg" alt="Image 1">
            </div>
            <div class = "recommend_reklama">
                <p > Tristram   <span class="recommend_reklama_cost">  FREE </p>
            </div>
            
             
        </div>
        <div class = "recommend">
            <p > Рекомендовавнное </p>
        </div>
        <div class="image">
            <img src="~/img/igra6.png" alt="Image 1">
            <p>Tristram <span class="center_text_cost">600р </p>
        </div>
        <div class="image">
            <img src="~/img/igra7.png" alt="Image 1">
            <p>Detective Face <span class="center_text_cost"> FREE </p>
        </div>
        <div class="image">
            <img src="~/img/igra8.png" alt="Image 1">
            <p>Peryne <span class="center_text_cost"> 500р </p>
        </div>
        <div class="image">
            <img src="~/img/igra9.png" alt="Image 1">
            <p>Sokobond Express <span class="center_text_cost"> 200р </p>
        </div>
        <div class = "recommend">
            <p > Популярное </p>
        </div>
        <div class="image">
            <img src="~/img/igra10.png" alt="Image 1">
            <p>Beecarbonize <span class="center_text_cost"> 400р </p>
        </div>
        <div class="image">
            <img src="~/img/igra11.png" alt="Image 1">
            <p>Killers <span class="center_text_cost"> FREE </p>
        </div>
        <div class="image">
            <img src="~/img/igra12.png" alt="Image 1">
            <p>Kingsvein <span class="center_text_cost"> 700р </p>
        </div>
        <div class="image">
            <img src="~/img/igra13.png" alt="Image 1">
            <p>Maerl <span class="center_text_cost"> 200р </p>
        </div>
         <div class = "recommend">
            <p > Новинки </p>
        </div>
        <div class="image">
            <img src="~/img/igra1.png" alt="Image 1">
            <p>Gauntlet of Power - Teaser Demo <span class="center_text_cost"> 500р </p>
        </div>
        <div class="image">
            <img src="~/img/igra2.png" alt="Image 1">
            <p>Cursorblade (Demo) <span class="center_text_cost"> FREE </p>
        </div>
        <div class="image">
            <img src="~/img/igra3.png" alt="Image 1">
            <p>Project Homecoming Haven <span class="center_text_cost"> 200р </p>
        </div>
        <div class="image">
            <img src="~/img/igra5.png" alt="Image 1">
            <p>Death of a Wish <span class="center_text_cost"> 300р </p>
        </div>
  
    
    </div>     
</div>