.text-header{
    color: greenyellow;
    margin-left: 10%;
    font-size: 22px;
}

.text-block{
    color:white;
    margin-left: 10%;
    margin-top: 10px;
    font-size: 17px;
}

ul{
    color:white;
    margin-left: 10%;
}
