.settings-menu {
    display: flex;
    width: 800px;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.button{    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 180px;
    height: 55px;
    
    margin-right: 15px;
    
    border: 3px;
    border-radius: 20px; 
}

.button-select{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 180px;
    height: 55px;
    
    margin-right: 15px;
    
    border: 3px;
    border-radius: 20px; 
    background-color: rgb(98, 0, 255);
}

.button:hover{
    background-color: rgb(52, 52, 52);
}

.button-text{
    color: white;
    font-size: 20px;
}